spring:
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
  profiles:
    active: local # 기본 active profile 설정

jwt:
  secret: ${JWT_SECRET}
  accessTokenExpiration: ${JWT_ACCESS_EXPIRATION}
  phoneTokenExpiration: ${JWT_PHONE_EXPIRATION}
  refreshTokenExpirationDays: ${JWT_REFRESH_EXPIRATION_DAYS}

app:
  datasource-proxy:
    exclude: [] # 제외할 DataSource 이름

---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    hikari:
      connectionTimeout: '30000'
      maximum-pool-size: '10'
      max-lifetime: '1800000'
    url: ${LOCAL_MYSQL_URL}
    username: ${LOCAL_MYSQL_USER}
    password: ${LOCAL_MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      mode: always
  jpa:
    hibernate:
      # 데이터베이스의 스키마와 jpa 엔티티가 불일치할때 애플리케이션 실행 중단
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    #마이그레이션 파일 경로
    locations: classpath:db/migration

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
#      local_host: localhost

  coolsms:
    api:
      key: ${SMS_KEY}
      secret: ${SMS_SECRET}
      number: ${SMS_NUMBER}

server:
  servlet:
    context-path: /api

care-call:
  url: ${CARE_CALL_URL}

openai:
  api:
    key: ${OPENAI_API_KEY}
    url: ${OPENAI_API_URL}
  model: ${OPENAI_API_MODEL}

naverpay:
  client:
    id: ${NAVERPAY_CLIENT_ID}
    secret: ${NAVERPAY_CLIENT_SECRET}
  chain:
    id: ${NAVERPAY_CHAIN_ID}
  partner:
    id: ${NAVERPAY_PARTNER_ID}
  api:
    url: ${NAVERPAY_API_URL}
  sdk:
    mode: ${NAVERPAY_SDK_MODE}

base-url: ${LOCAL_BASE_URL}

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info
  endpoint:
    prometheus:
      enabled: true
  server:
    prometheus-allowed-ips: 0.0.0.0/0 # 로컬이니 열어두긴 했는데 compose 네트워크 대역만 허용해도 상관없습니다
  metrics:
    distribution:
      percentiles-histogram:
        http.db.io.time: true
        http.server.requests: true
      percentiles:
        http.db.io.time: 0.5,0.95,0.99
        http.server.requests: 0.5,0.95,0.99

firebase:
  file-path: firebase.json

---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    hikari:
      connectionTimeout: '30000'
      maximum-pool-size: '10'
      max-lifetime: '1800000'
    url: ${MYSQL_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      mode: never
  jpa:
    hibernate:
      # 데이터베이스의 스키마와 jpa 엔티티가 불일치할때 애플리케이션 실행 중단
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    #마이그레이션 파일 경로
    locations: classpath:db/migration

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  coolsms:
    api:
      key: ${SMS_KEY}
      secret: ${SMS_SECRET}
      number: ${SMS_NUMBER}

server:
  servlet:
    context-path: /api

care-call:
  url: ${CARE_CALL_URL}

openai:
  api:
    key: ${OPENAI_API_KEY}
    url: ${OPENAI_API_URL}
  model: ${OPENAI_API_MODEL}

naverpay:
  client:
    id: ${NAVERPAY_CLIENT_ID}
    secret: ${NAVERPAY_CLIENT_SECRET}
  chain:
    id: ${NAVERPAY_CHAIN_ID}
  partner:
    id: ${NAVERPAY_PARTNER_ID}
  api:
    url: ${NAVERPAY_API_URL}
  sdk:
    mode: ${NAVERPAY_SDK_MODE}

base-url: ${APP_BASE_URL}

management:
  endpoints:
    web:
      exposure:
        include: prometheus
  endpoint:
    prometheus:
      enabled: true
  server:
    prometheus-allowed-ips: ${MONITORING_SERVER_HOST}
  metrics:
    distribution:
      percentiles-histogram:
        http.db.io.time: true
        http.server.requests: true
      percentiles:
        http.db.io.time: 0.5,0.95,0.99
        http.server.requests: 0.5,0.95,0.99


firebase:
  file-path: firebase.json